html {
    scroll-behavior: smooth;
}

#pageHeader {
    height: 115vh;
    position: relative;
}

.product-navbar {
    display: flex;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.521);
    padding: 5px;
    width: 100%;

    border: none;
    cursor: pointer;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.product-navbar:hover {
    outline: solid 2.5px #ffffff;
}

.product-navbar::before {
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.4s ease;
    opacity: 0;
}

.product-navbar.is-show {
    opacity: 1;
    transform: translateY(0);
}

#product-navbar-margin {
    margin-left: 7rem;
}

.page-2 {
    height: 100vh;
}

/* Homepage Button */

.home-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.text-content-home {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    padding-left: 12.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

.text-area svg {
    transition: transform 0.3s ease;
    z-index: 2;
}

.text-area {
    display: flex;
    align-items: center;
    text-align: center;
    border: solid 1px rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    overflow: hidden;
    opacity: 0;
    transform: translateX(0px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.text-area::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
    z-index: -1;
}

#backHome:hover .text-area {
    opacity: 1;
    transform: translateX(0);
}

#backHome:hover .text-area::before {
    transform: scaleX(1);
    transform-origin: top;
}

/* SVG */

#cart-icon {
    display: flex;
    align-items: center;
    opacity: 1;
    margin: 13.5px;
}

.cart-color {
    fill: currentColor;
}

/* product page */

#trigger {
    background-color: #000000e0;
}

.product-section {
    display: flex;
}

.olshop-tab {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    transform: scaleX(0.9);
    letter-spacing: -0.25px;
    font-size: 25px;
    margin: 20px 20px 20px -20px;
}

.product-page {
    margin-left: 4rem;
    margin-top: 2.5rem;
}

.top-page-box {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.top-page-box::before {
    content: "";
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.4s ease;
    opacity: 0;
}

.top-page-box.is-show {
    opacity: 1;
    transform: translateY(0);
}

hr {
    margin: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.hr.is-show {
    opacity: 1;
}

.product-title {
    font-family: 'Lexend', sans-serif;
    display: inline-block;
    letter-spacing: -1.5px;
    padding: 0;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.product-title::before {
    content: "";
    transform-origin: top;
    transition: transform 0.4s ease;
    opacity: 1;
}

.product-title.is-show {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 280px;
    height: 280px;
  }
}

.product-container {
    display: flex;
    justify-content: center;
}

.margin-box {
  display: flex;
  margin-bottom: 4rem;
}

.slider {
  flex: 0 0 30cm;
  gap: 10px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.slider::-webkit-scrollbar {
  box-sizing: border-box;
  height: 5px;
}

.slider::-webkit-scrollbar-track {
  background: rgba(226, 226, 226, 0.705);
  box-sizing: border-box;
}

.slider::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right,
    #000,
    #444
  );
  cursor: grab;
}

.arrow {
    font-size: 30px;
    border: none;
    cursor: pointer;
    border: solid 1px black;
    background-color: white;
}
.arrow-right {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}
.arrow-left {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}
.arrow-left::before {
    content: "";
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.4s ease;
    opacity: 0;
}
.arrow-right::before {
    content: "";
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.4s ease;
    opacity: 0;
}
.arrow-left.is-show {
    opacity: 1;
    transform: translateY(0);
}
.arrow-right.is-show {
    opacity: 1;
    transform: translateY(0);
}
.arrow:hover {
    background-color: #f1f1f1ec;
}

.card {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  cursor: pointer;

  margin-bottom: 1rem;
  padding: 1px;
  border: solid 1px transparent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.521);
}
.card:hover {
    border: solid 1px black;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 15px;
    margin-left: 5px;
}
.row {
    display: block;
}
.name {
    font-size: 16px;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
    margin-left: 5px;
}

.price {
    display: block;
    transform: scaleX(0.9);
    letter-spacing: -0.25px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    margin: 5px;
}

.description {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: hsla(0, 0%, 27%, 0.897);
}

.specification {
    margin-left: auto;
    position: relative;
    justify-content: right;
    align-items: flex-end;

}
.enterLogo {
    position: absolute;
    position: relative;
    display: inline;

    margin-left: 3.3rem;
    margin-right: 0;
    padding: 5px;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.card:hover .enterLogo {
    opacity: 1;
    transform: translateY(0);
}

.enterSpecification {
    display: flex;
    text-align: center;
    align-items: center;

    border: solid 1px black;
    background-color: #000;
    color: white;
    font-family: "Lexend", sans-serif;
    font-size: 13px;

    width: 81.75px;
    padding: 5px;
    padding-right: 10px;

    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.enterText1 {
    opacity: 0;
}
.enterText2 {
    opacity: 0;
}
.enterText3 {
    opacity: 0;
}
.entertText4 {
    opacity: 0;
}
.enterText5 {
    opacity: 0;
}

.enterText1.hover {
    opacity: 1;
    transform: translateY(0);
}
.enterText2.hover {
    opacity: 1;
    transform: translateY(0);
}
.enterText3.hover {
    opacity: 1;
    transform: translateY(0);
}
.enterText4.hover {
    opacity: 1;
    transform: translateY(0);
}
.enterText5.hover {
    opacity: 1;
    transform: translateY(0);
}

.bg {
    height: 300px;
    width: 300px;
}

.bg.product5{
    background-image: url(../img/cpe-organik/product5.2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg.product4 {
    background-image: url(../img/nature-laund/product4.4.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg.product3 {
    background-image: url(../img/lush-nanas/product3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg.product2 {
    background-image: url(../img/eco-peel/product2.5.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg.product1 {
    background-image: url(../img/lavina-deo-mist/product1.2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}