body {
    margin: 0;
    min-height: 300vh;
}
a {
    text-decoration: none;
    color: black;
}

/*= popup-navbar =*/

.navbar {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    margin-top: -80px;
    background-color: rgba(255, 255, 255, 0.685);
    font-weight: 500;
    z-index: 3;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 0;
}

.nav-row {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

/* left-side popup-navbar */

ul, li {
    display: flex;
}
.left-nav, .loc-list, .tel-list, .email-list {
    display: flex;
    margin-right: 50px;
}
.a-span {
    display: block;
}
.loc-span {
    font-size: 15px ;
}
.email-span, .tel-span, .loc-span {
    display: flex;
}
.tel-span a {
    margin-left: -5px;
}

.email-image, .tel-image, .loc-image {
    padding-right: 10px;
}
.email-image {
    padding-top: 3px;
}
.tel-image {
    padding-top: 2px;
}

/*= auto copy text animation =*/

#copy-text {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#copy-text:hover {
    text-decoration: underline;
    color: #4da3ff;
}

/* right-side popup-navbar*/

.facebook, .instagram, .youtube {
    padding: 3px;
    margin: 5px;
    margin-left: 25px;
}
.link-m {
    margin: 0;
}
.link {
    margin-top: 15px;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 25px;
}

/* = navbar Popup = */

#nav-popup {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;

  /* animasi */
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: 
    opacity 0.3s ease,
    transform 0.3s ease;
}

/* = navbar aktif = */

#nav-popup.is-active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  background-color: white;
}

/*= top nav-menu button =*/

.nav-menu {
    display: flex;
}
.nav-img-span {
    display: flex;
    justify-content: center;
}
.nav-menu button{
    width: 100%;
    cursor: pointer;
    color: white;
    border: none;
    z-index: 3;
    background-color: black;
}
.nav-menu span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    margin-left: 10px;
    box-sizing: border-box;
    padding-top: 15px;
}
.nav-menu svg {
    height: 45px;
}

