
/*= Top Main Navigation =*/

#top-content {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
    
    background-color: #292929;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.877);
}
.product-section {
    display: flex;
    justify-content: center;
    position: relative;

    background-color: #292929;
    border: none;
    transition: transform 0.3s ease;
}
.product-section::before {
    content: "";
    position: absolute;
    transform: scale(1);
}
#top-content:hover #cart-icon{
    transform: scale(1.25);
    background-color: #303030;
}
#top-content:hover {
    background-color: #303030;
}
#top-content:hover .product-section {
    background-color: #303030;
}

.top-right-content {
    display: flex;
    align-items: center;
    margin-right: 6rem;
    z-index: 1;
    border-radius: 0;
}

/* SVG */

#cart-icon {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    color: rgb(0, 0, 0);
}
.cart-color {
    fill: currentColor;
}

/* anchor text */

.cart-text-content {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-slide {
    border: solid 1px rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* bg text slide */

.text-slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
    z-index: -1;
}
/* ===== AKTIF (hover SVG atau anchor hold) ===== */

.top-content.is-hover .text-slide,
.top-content.is-hold .text-slide {
    opacity: 1;
    transform: translateX(0);
}

.top-content.is-hover .text-slide::before,
.top-content.is-hold .text-slide::before {
    transform: scaleX(1);
    transform-origin: left;
}