body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}

/*= popup-navbar =*/

/* left-side popup-navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
ul, li {
    display: flex;
}
.left-nav, .loc-list, .tel-list, .email-list {
    display: flex;
    margin-right: 50px;
    margin-top: 16px;
}
.email-span, .tel-span, .loc-span {
    display: flex;
}
.email-image, .tel-image, .loc-image {
    padding-right: 10px;
}
.spemduta {
    display: block;
    margin: 10px 0 0 10px
}

/* right-menu popup navbar */

.facebook, .instagram, .youtube {
    padding: 3px;
    margin: 5px;
    margin-left: 25px;
}
.right-nav {
    margin: 5px;
}
.link {
    box-sizing: border-box;
    width: 20%;
}
.link-list {
    margin-top: 25px;
}

/*= top-button =*/
.top-menu {
    display: flex;
    justify-content: space-evenly;
}
.top-menu svg {
    height: 20px;
    margin-right: 10px;
}
.top-menu button {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    margin-left: -40px;
    width: 100rem;
    border: none;
    cursor: pointer;
}
.menu-cont_svg-span {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.menu-cont_svg-span span {
    margin-left: 10px;
}